 .mainWrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainWrapper p {
	text-align: center;
	
}

.mainWrapper h1 {
	color: #dd3f3f;
}

.mainForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.mainForm input:first-child {
	margin-top: 25px;
}

.mainForm input {
	width: 80vw;
	height: 30px;
	max-width: 200px;
	margin-bottom: 20px;
	text-align: center;
	outline: #dd3f3f;
	border: 1px solid #dd3f3f;
	color: #dd3f3f;
}

.mainForm input::placeholder {
	color: #dd3f3f;
}


.mainForm  input:focus {
	border: 2px solid #dd3f3f;
}

.mainForm button {
	width: 100px;
	height: 30px;
	border: 1px solid #dd3f3f;
	color: #FFF;
	font-weight: 600;
	background: #dd3f3f;
	margin: 10 ;
} 
