.mainWrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.natallogo {
	width: 150px;
	height: 150px;
}

.mainWrapper p {
	text-align: center;
}

.mainForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainForm input:first-child {
	margin-top: 25px;
}

.mainForm input {
	width: 80vw;
	height: 30px;
	max-width: 200px;
	margin-bottom: 20px;
	text-align: center;
}

.mainForm button {
	width: 100px;
	height: 30px;
	border: 1px solid #888888;
}
